<h1>Creation Form</h1>
<form method="post" action="game">
    <div>
        Size del tablero: <input type="number" name="Size">
    </div>
    <div>
        PositionX del robot: <input type="number" name="PositionX">
    </div>
    <div>
        PositionY del robot: <input type="number" name="PostionY">
    </div>
    <a class="button" href="/game">Create</a>
</form>
