<form method="post" action="Generar">
    <div>
        Tamaña del tablero: <input type="number" name="size">
    </div>
    <div>
        Posición X del robot: <input type="number" name="positionX">
    </div>
    <div>
        Posición Y del robot: <input type="number" name="postionY">
    </div>
    <input type="submit" value="Generar">
</form>